<footer>
    <div class="f-info">
        <div class="f-info-socials">

        </div>
        <div class="">TravelList Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms & Conditions</a>
        </div>
    </div>
</footer>